<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>TripSnap - Log In</title>
  <link rel="stylesheet" href="/style/core.css" title="core" type="text/css" media="all"> 
</head>
<body>
  <h1 style="color:#ccc;">{% if not session.dopplr %}<a href="{{ dopplr_url }}">{% endif %}Log{% if session.dopplr %}ged{% endif %} in to Dopplr{% if not session.dopplr %}</a>{% endif %}</h1>

  <h1 style="color:#ccc;">{% if not session.flickr %}<a href="{{ flickr_url }}">{% endif %}Log{% if session.flickr %}ged{% endif %} in to Flickr{% if not session.flickr %}</a>{% endif %}</h1>
  
  <!-- Got token {{token}}, frob {{frob}} -->
  
  <!-- Session has Dopplr token '{{ session.dopplr }}' and Flickr token '{{ session.flickr }}' -->  
</body>
</html>
