ul {
  margin: 30px;
  padding: 0px;
}

ul li {
  list-style-type: none;
  padding: 5px 0px 5px 0px;
  margin-right: 0px;
  border-bottom: 1px dotted rgb(204, 204, 204);
  color: #666;
}

ul li span.block {
  display:block;
  float: left;
  height:18px;
  width:18px;
  margin-right:5px;
}

ul li span.external {
  text-align: right;
  position: absolute;
  right: 40px;
}

ul li span.internal {
  text-align: right;
  position: absolute;
  right: 200px;
}

a {
  color: #69c;
  text-decoration: none;
}

a:hover {
  color: #47a;
  background: #def;
}

ul li.external a {
  background: #fff;
  color: #69c;
  text-decoration: none;
  padding: 5px 10px 5px 15px;
}

ul li.internal a {
  background: #fff;
  color: #69c;
  text-decoration: none;
  padding: 5px 20px 5px 15px;
}

ul li a:hover {
  color: #47a;
  background: #def;
  padding: 5px;
  text-decoration: underline;
  padding: 5px;
  margin: 5px 15px 5px 10px;
}