  <div id="header">
    <h1>snaptrip</h1>
    
  {% if session.dopplr %}{# lowercase? #}
    <span class="dopplr">authenticated via Dopplr as <a href="http://dopplr.com/traveller/{{ session.nick }}/">{{ session.name }}</a></span>
    {% if session.flickr %}{# lowercase? #}
    <span class="flickr">authenticated via Flickr</span>
    {% endif %}

<!-- 
    <ul class="nav">
      <li><b>your trips</b></li>
      <li>log out</li>
    </ul>
 -->

  {% else %}
    <span class="who">not logged in to dopplr</span>

<!-- 
    <ul class="nav">
      <li>log in</li>
      <li>log out</li>
    </ul>
 -->
  {% endif %}
  </div>
