body {
  font: 14px Arial, Helvetica, sans-serif;
  line-height: 16px;
  background-color: #fff;
  color: #666;
  padding: 0px;
  margin:  0px;
}

div#header {
  padding: 5px 20px 5px 20px;
  border-bottom: 1px dotted rgb(204, 204, 204);
  font: 12px Arial, Helvetica, sans-serif;
}

div#header h1 {
  font: bold 12px Arial, Helvetica, sans-serif;
  display: inline;
}

div#content {
  width:870px;
}

div#main {
  padding: 0px 20px 20px 20px;
}

h1 {
  font: 200 22px Arial, Helvetica, sans-serif;
}

h2 {
  font: 200 18px Arial, Helvetica, sans-serif;
}

h3 {
  font: 200 16px Arial, Helvetica, sans-serif;
}

ul li {
  list-style-type: none;
}

ul#trips {
  margin: 0px 30px 0px 0px;
  padding: 0px;
  width: 550px;
  float: left;
}

ul#trips li {
  position: relative;
  padding: 5px 0px 5px 0px;
  margin-right: 0px;
  border-bottom: 1px dotted rgb(204, 204, 204);
  color: #666;
}

ul#trips li span.block {
  display:block;
  float: left;
  height:18px;
  width:18px;
  margin-right:5px;
}

ul#trips li span.internal {
  text-align: right;
  position: absolute;
  right: 0px;
}

ul#where {
/*
  width: 250px;
*/
}

ul#where li span.country {
  width: 120px;
  float: left;
  display: block;
}

a {
  color: #69c;
  text-decoration: none;
}

a:hover {
  color: #47a;
  background: #def;
}

/*
ul#trips li span a {
  padding: 5px 5px 5px 5px;
}

ul#trips li span a:hover {
  padding: 5px 5px 5px 5px;
}
*/