/* general */

body {
  font: 14px Arial, Helvetica, sans-serif;
  line-height: 16px;
  background-color: #fff;
  color: #666;
  padding: 0px;
  margin:  0px;
  width: 100%;
}

div#content {
  width:800px;
  margin: 0px;
  padding: 0px 0px 0px 20px;
}

div#main {
  margin: 0px;
  padding: 0px;
  width:520px;
  float:left;
}

div#main.wide {
  width:800px;
}

/* headings */

h1 {
  font: 200 22px Arial, Helvetica, sans-serif;
}

h2 {
  font: 200 18px Arial, Helvetica, sans-serif;
}

h3 {
  font: 200 16px Arial, Helvetica, sans-serif;
}

h3 {
  font: 200 16px Arial, Helvetica, sans-serif;
}

/* general classes */

a {
  color: #69c;
  text-decoration: none;
}

a:hover {
  color: #47a;
  background: #def;
}

ul {
  padding: 0px;
}

ul li {
  list-style-type: none;
  padding: 0px;
}

hr {
  width:100%;
  color:#fff;
  background-color:#fff;
  height:0px;
  border-top: 1px solid #fff;
  border-bottom: 1px dotted #ccc;
}

/* dotted lists */
ul.dotted li {
  padding: 0px;
}

ul.dotted li {
  position: relative;
  padding: 5px 0px 5px 0px;
  margin-right: 0px;
  border-bottom: 1px dotted #ccc;
  color: #666;
  font: 14px Arial, Helvetica, sans-serif;
  line-height: 16px;
}

ul.dotted li span.internal {
  text-align: right;
  position: absolute;
  right: 0px;
}

ul.dotted abbr {
  color:#666;
}

ul.dotted li span.block {
  display:block;
  float: left;
  height:18px;
  width:18px;
  margin-right:5px;
}

/* navigation */

div#header {
  margin: 0px;
  padding: 5px 20px 5px 20px;
  border-bottom: 1px dotted #ccc;
  font: 12px Arial, Helvetica, sans-serif;
/*
  margin: 0px auto;
  width: 800px;
*/
}

div#header h1 {
  font: bold 12px Arial, Helvetica, sans-serif;
  display: inline;
  border-right: 1px dotted #ccc;
  padding-right: 5px;
  margin-right: 5px;
}

div#header h1 span {
  font-weight: normal;
  border-right: 0px;
  padding-right: 0px;
  margin-right: 0px;
}

div#header span {
  margin-left: 0px;
  padding-left: 0px;
  border-right: 1px dotted #ccc;
  padding-right: 5px;
  margin-right: 5px;
}

ul.nav {
  text-align:right;
  display: inline;
}

ul.nav li {
  display: inline;
}

/* index page */

div#side {
  float:left;
  min-width: 250px;
  max-width: 270px;
  padding: 0px 0px 0px 10px;
  margin: 0px;
}

ul#trips {
  margin: 0px 30px 10px 0px;
  width: 510px;
}

ul#trips li {
  position: relative;
  padding: 5px 0px 5px 0px;
  margin-right: 0px;
  border-bottom: 1px dotted #ccc;
  color: #999;
  font: 14px Arial, Helvetica, sans-serif;
  line-height: 16px;
}

ul#trips li.future {
  display: none;
}

ul#trips li.last {
  border-bottom: 1px solid #ccc;
}

ul#trips li span.block {
  display:block;
  float: left;
  height:18px;
  width:18px;
  margin-right:5px;
}

ul#trips li span.internal {
  text-align: right;
  position: absolute;
  right: 0px;
}

ul#trips li span.status {
  text-align: right;
  position: absolute;
  right: 115px;
}

ul#trips li span.city {
  color:#333;
}

ul#where {
  padding: 0px;
}

ul#where li {
  padding: 0px;
  clear: both;
}

ul#where li span.country {
  width: 140px;
  float: left;
  display: block;
}

ul#when {
  padding: 0px;
}

/* trip page */

div#main.trip {
  width: 520px;
}

div#main.trip h2 {
  font: 200 16px Arial, Helvetica, sans-serif;
}

h3.photos {
  margin-bottom: 8px;
} 

div#photos {
  width:512px;
}

/*div#photos p {
  margin-left:3px;
}*/

div#photos span.image {
  display:block;
  float:left;
  position: relative;
  width: 85px;
  height: 85px;
}

div#photos span.image a {
  color:white;
}

div#photos span.image a.img {
  position:absolute;
  width: 79px;
  height: 83px;
  margin:0px 1px 5px 1px;
  border:2px solid white;
  padding: 0px;
}

div#photos span.image img {
}

div#photos span.image a.img img {
  border:2px solid white; /* for untagged images */
}

div#photos span.image a.img img.dopplr {
  border:2px solid black; /* this should end up overridden */
}

div#photos span.image a img.pin {
  width:10px;
  height:18px;
  border: 0;
  margin: 0;
}

div#photos span.image span.geo {
  display:block;
  position: absolute;
  top:60px;
  left:65px;
}

div#photos span.image a.img:hover  {
  background:#47a;
}

div#photos span.image span.geo a:hover {
  background: none;
}


div.trip_nav {
  width: 512px;
}

div.trip_nav span.left {
  float:left;
}

div.trip_nav span.right {
  float:right;
}

div#side ul.trip li {
  margin-left:4px;
}

div#side ul.trip li:before {
  content: "- ";
}

/* form page */

div#main.form {
  width: 520px;
}

/*
div#main.trip h2 {
  font: 200 16px Arial, Helvetica, sans-serif;
}
*/

label {
  display: block;
  float: left;
  width: 150px;
}

input.wide, select, textarea {
  width: 350px;
  border: 1px solid #666;
  color:#666;
}

textarea {
  width: 352px;
}

/* login page */

div#login {
  padding: 0px 20px 0px 20px;
  margin: 0px;
  border-bottom: 1px dotted #ccc;
}

/* stats page */

div.label {
  float:left;
  width:25px;
  margin: 0px;
  padding: 0px;
}

div.br {
  clear: both;
  border-bottom: 1px dotted #ccc;
  padding-top: 10px;
  margin-bottom: 10px;
}

div.onecol {
  float:left;
  width: 490px;
  margin: 0px;
  padding: 0px;
}

div.twoasymcol-left {
  float:left;
  width: 460px;
  margin: 0px;
  padding: 0px;
}

div.twoasymcol-right {
  float:left;
  width: 290px;
  margin: 0px;
  padding: 0px;
}

div.twosymcol {
  float:left;
  width: 375px;
  margin: 0px;
  padding: 0px;
}

div.threecol {
  float:left;
  width:145px;
  margin: 0px;
  padding: 0px;
}

div.map {
  padding-top:5px;
  position: relative;
  width:440px;
  height:190px;
}

div.map div#mapoverlay {
  padding-top:5px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.switch {
  font-size: 11px;
}

dl {
  padding: 0px;
  margin: 0px;
}

dl dt {
  padding: 0px;
  margin: 0px;
}

dl dd {
  font-size: 13px;
  line-height: 15px;
  padding-left: 0px;
  margin-left: 15px;
  margin-bottom: 16px;
}

ul.small li {
  font-size: 13px;
}

/*
ul.small span.details {
  text-align: right;
  position: absolute;
  right: 0px;
  background: #fff;
  padding-left: 5px;
}
*/

ul.small div.city_details {
  margin-left:23px;
  font-size:11px;
  display:none;
}

ul.small span.city {
  float: left;
}

ul.small span.country {
  float: left;
}

ul.small span.details {
  float: right;
  padding-left: 5px;
}

/* sets */

/*
div.set {
  clear:both;
  border-bottom: 1px dotted #ccc;
  min-height: 87px;
  padding-top: 10px;
}

div.set.first {
  padding-top: 0px;
}

div.set.last {
  margin-bottom: 10px;
}

div.set h3 {
  margin: 0px;
  float:left;
  padding-bottom:0px;
  padding-right: 5px;
  margin-bottom: 2px;
  line-height:20px;
}

div.set p.count {
  float: right;
  font-size: 12px;
  margin: 4px 0px 2px 0px;
}

div.set p.desc {
  clear:right;
}

div.set img {
  margin-right: 10px;
  margin-bottom: 2px;
  width: 75px;
  height: 75px;
  border: 2px solid #fff;
}

div#set_trip_nav {
  width: 800px;
  padding-bottom: 10px;
}

*/

/* debugging */

tt {
  font: 9px monaco;
}