/* general */

body {
  font: 14px Arial, Helvetica, sans-serif;
  line-height: 16px;
  background-color: #fff;
  color: #666;
  padding: 0px;
  margin:  0px;
  width: 100%;
}

div#content {
  width:800px;
  margin: 0px;
  padding: 0px 0px 0px 20px;
}

div#main {
  margin: 0px;
  padding: 0px;
  width:520px;
  float:left;
}

/* headings */

h1 {
  font: 200 22px Arial, Helvetica, sans-serif;
}

h2 {
  font: 200 18px Arial, Helvetica, sans-serif;
}

h3 {
  font: 200 16px Arial, Helvetica, sans-serif;
}

/* general classes */

a {
  color: #69c;
  text-decoration: none;
}

a:hover {
  color: #47a;
  background: #def;
}

ul {
  padding: 0px;
}

ul li {
  list-style-type: none;
  padding: 0px;
}

hr {
  width:100%;
  color:#fff;
  background-color:#fff;
  height:0px;
  border-top: 1px solid #fff;
  border-bottom: 1px dotted #ccc;
}

/* navigation */

div#header {
  margin: 0px;
  padding: 5px 20px 5px 20px;
  border-bottom: 1px dotted #ccc;
  font: 12px Arial, Helvetica, sans-serif;
/*
  margin: 0px auto;
  width: 800px;
*/
}

div#header h1 {
  font: bold 12px Arial, Helvetica, sans-serif;
  display: inline;
  border-right: 1px dotted #ccc;
  padding-right: 5px;
  margin-right: 5px;
}

div#header span {
  margin-left: 0px;
  padding-left: 0px;
  border-right: 1px dotted #ccc;
  padding-right: 5px;
  margin-right: 5px;
}

ul.nav {
  text-align:right;
  display: inline;
}

ul.nav li {
  display: inline;
}

/* index page */

div#side {
  float:left;
  min-width: 250px;
  max-width: 270px;
  padding: 0px 0px 0px 10px;
  margin: 0px;
}

ul#trips {
  margin: 0px 30px 10px 0px;
  padding: 0px;
  width: 510px;
  float: left;
}

ul#trips li {
  position: relative;
  padding: 5px 0px 5px 0px;
  margin-right: 0px;
  border-bottom: 1px dotted #ccc;
  color: #666;
  font: 14px Arial, Helvetica, sans-serif;
  line-height: 16px;
}

ul#trips li.future {
  display: none;
}

ul#trips li.last {
  border-bottom: 1px solid #ccc;
}

ul#trips li span.block {
  display:block;
  float: left;
  height:18px;
  width:18px;
  margin-right:5px;
}

ul#trips li span.internal {
  text-align: right;
  position: absolute;
  right: 0px;
}

ul#trips li span.status {
  text-align: right;
  position: absolute;
  right: 115px;
}

ul#where {
  padding: 0px;
}

ul#where li {
  padding: 0px;
  clear: both;
}

ul#where li span.country {
  width: 140px;
  float: left;
  display: block;
}

ul#when {
  padding: 0px;
}

/* trip page */

div#main.trip {
  width: 520px;
}

div#main.trip h2 {
  font: 200 16px Arial, Helvetica, sans-serif;
}

div#photos {
  width:512px;
  margin-left:3px;
}

div#photos span.image {
  position: relative;
}

div#photos span.image img {
  width: 75px;
  height: 75px;
  margin:0px 1px 5px 1px;
  border:2px solid white;
  padding: 0px;
}

div#photos span.image img.dopplr {
  border:2px solid black;
}

div#photos span.image img.pin {
  width:10px;
  height:18px;
  border: 0;
  margin: 0;
}

div#photos span.image span.geo {
  display:block;
  position: absolute;
  top:-14px;
  right: 10px;
  z-index:5;
}

div#photos a.img:hover  {
  background:#47a;
}

div#photos span.image span.geo a:hover {
  background: none;
}


div#trip_nav {
  width: 512px;
}

div#trip_nav span.index {
  float:left;
}

div#trip_nav span.dopplr {
  float:right;
}

div#side ul.trip li {
  margin-left:4px;
}

div#side ul.trip li:before {
  content: "- ";
}

/* form page */

div#main.form {
  width: 520px;
}

/*
div#main.trip h2 {
  font: 200 16px Arial, Helvetica, sans-serif;
}
*/

label {
  display: block;
  float: left;
  width: 150px;
}

input.wide, select, textarea {
  width: 350px;
  border: 1px solid #666;
  color:#666;
}

textarea {
  width: 352px;
}

/* login page */

div#login {
  padding: 0px 20px 0px 20px;
  margin: 0px;
  border-bottom: 1px dotted #ccc;
}