<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>snaptrip - all your trips</title>
  <link rel="stylesheet" href="/style/core.css" title="Main styles for this page" type="text/css" media="all"> 
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
  <script language="text/javascript" type="text/javascript">
    // set up onhover handlers

    $(document).ready(function() {
      // $("ul#trips li").css { cursor:"hand" };

      $("ul#trips li").hover(function() {
        $(this).css({ backgroundColor:"#def" });
        $(this).children().children("a").css({ color:"#47a" });
        // get URL
        local = $(this).children().children("a").attr("href").substring(1);
        window.status = window.location + local;
      }, function() {
        $(this).css({ backgroundColor:"#fff" })
        $(this).children().children("a").css({ color:"#69c" });
        window.status = '';
      });
      $("li").click(function() {
        var href = ($(this).children().children("a").attr("href"));
        window.location.href = href;
      });
    })

  // TODO hash should DTRT
  function show_trips(type) {
    $("h3 span#type").text(type);
    
    // TODO consolidate these, they're way too similar
    if (type == "All") {
      $("li.future:last").attr("class", "future last");
      $("li.future").show();
      $("li.past").show();
    }
    
    if (type == "Future") {
      $("li.future:last").attr("class", "future");
      $("li.future").show();
      $("li.past").hide();
    }
  
    if (type == "Past") {
      $("li.future").hide();
      $("li.past").show();
    }
  
    return false;
  }
  </script>

</head>
<body>
  {% include "includes/header.html" %}
  
  <div id="content">
    <div id="main">
    
      <h3><span id="type">Past</span> trips{% if traveller.name != session.name %} for {{ traveller.name }}{% endif %}</h3>
    
      <ul id="trips">
      {% for trip in trips | reverse %}
        <li class="{{ trip.status|lower }}"><span class="block" style="background:#{{trip.city.rgb}}">&nbsp</span>
          <a href="{{ trip.city.url }}">{{ trip.city.name }}</a>
    
          {# reusable block? #}
          {% if trip.startdate.year == trip.finishdate.year %}
            {% if trip.startdate.month == trip.finishdate.month %}
              in <abbr style="color:#333;">{{ trip.startdate.strftime("%B %Y") }}</abbr>
            {% else %}
              from <abbr style="color:#333;">{{ trip.startdate.strftime("%B") }}</abbr>
                to <abbr style="color:#333;">{{ trip.finishdate.strftime("%B %Y") }}</abbr>
            {% endif %}
          {% else %}
            from <abbr style="color:#333;">{{ trip.startdate.strftime("%B %Y") }}</abbr>
              to <abbr style="color:#333;">{{ trip.finishdate.strftime("%B %Y") }}</abbr>
          {% endif %}
          
          <span class="status" style="color:#ccc;">{{ trip.status }}</span>
    
          <span class="internal"><a href="/trip/{{ trip.id }}">More on this trip</a></span>
          <!-- <span class="external"><a href="http://www.dopplr.com/trip/{{ traveller.nick }}/{{ trip.id }}">View this trip at Dopplr</a></span> -->
        
        </li>
      {% endfor %}
      </ul>
    </div>

    <div id="side">

      <h3>Where?</h3>
      
      <p>{% if traveller.name == session.name %}You've{% else %}{{ traveller.name }} has {% endif %} been on trips in {{ stats.countries|length }} countries, spending the most time in...</p>
      
      <ul id="where">
      {% for country in stats.countries %}
        <li><span class="country">{{ stats.countries[country].display }}</span> - 
            {{ stats.countries[country].trips }} trip{% if stats.countries[country].trips != 1 %}s{% endif %}, 
            {{ stats.countries[country].duration }} day{% if stats.countries[country].duration != 1 %}s{% endif %}</li>
      {% endfor %}
      </ul>
    
      <h3>When?</h3>
      
      <ul id="when">
      {% for year in stats.years %}
        <li>{{ year }} - {{ stats.years[year] }} days</li>
      {% endfor %}
      </ul>

      {# TODO disable if no future/past trips #}
      <p id="trip_selector">Show 
        <a href="#" onclick="javascript: return show_trips('All');">all trips</a>, or only
        <a href="#" onclick="javascript: return show_trips('Future');">future</a> or 
        <a href="#" onclick="javascript: return show_trips('Past');">past</a> trips.</p>

      <p>These statistics are for past trips only, even if you're looking at all trips.</p>
    
    </div>
  </div>

  {% include "includes/footer.html" %}
</body>
</html>
