<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>snaptrip - authenticate</title>
  <link rel="stylesheet" href="/style/core.css" title="core" type="text/css" media="all"> 
</head>
<body>
  {% include "includes/header.html" %}
  
  <div id="login">
    <h1 style="color:#ccc;">{% if not session.dopplr %}<a href="{{ dopplr_url }}">{% endif %}Authenticate{% if session.dopplr %}d{% endif %} with Dopplr.{% if not session.dopplr %}</a>{% endif %}</h1>
  
    <h1 style="color:#ccc;">{% if not session.flickr %}<a href="{{ flickr_url }}">{% endif %}Authenticate{% if session.flickr %}d{% endif %} with Flickr.{% if not session.flickr %}</a>{% endif %}</h1>
  </div>
    
  <div id="content">
    <div id="main">
      <h2>Questions and Answers.</h2>

      {% if session.dopplr and session.flickr %}
      
      <h3>Where do I start?</h3>
      
      <p>You can <a href="/">view your list of past trips</a> now you've authenticated.</p>
      
      {% endif %}

      <h3>What is 'snaptrip'?</h3>
      
      <p>snaptrip is a web application that aims to give you a better view of your past trips in Dopplr, and to use Dopplr and Flickr together.</p>
      
      <h3>Hence the name?</h3>
      
      <p>Yes, "snap" + "trip". Imaginative, huh?</p>
      
      <h3>Why do I have to authenticate?</h3>
      
      <p>Rather than asking you to log in here, snaptrip asks you to authenticate against Dopplr (and, preferably, Flickr). That's because they already know who you are, and more importantly, how to check you are who you say you are. Since you're probably already logged in at each site, you should just need to approve this application. <!-- (The screens look like this: --></p>
    
      <h3>Once I've authenticated, what can I do here?</h3>
      
      <p>The main page of this site shows you a list of all your trips, past and future (you can change this once you're logged in). From there, you can work with your Flickr photostream, adding information at Flickr and Dopplr to make either site richer.</p>
      
      <h3>Would you say this site was finished?</h3>
      
      <p>Knowing the way programmers are, this site will never be finished. However, I should warn you that the Flickr tagging functionality, in particular, is a little more fragile than I'd like at the moment. There are also a couple of cosmetic issues. C'est la vie, as they say in Paris.</p>
      
<!-- 
      <h3>How do I get in touch?</h3>
  
      <p>To find out more, report bugs, leave a suggestion, or just say hi, use <a href="/form/">the form</a>.</p>
       
 -->
    </div>

    <div id="side">
      <h2>News.</h2>
      
    {% for entry in feed.entries %}
      <h3><a href="{{ entry.link }}">{{ entry.title }}</a></h3>
      
      {{ entry.description|truncatewords:60 }}</div> {# TODO fix #}
      
      <p><a href="{{ entry.link }}">Read more of this entry</a>, which was posted on {{ entry.published_date|date:"dS F Y" }}.</p>
      
    {% endfor %}

      <hr>

      <p class="switch"><a href="http://blech.vox.com/library/posts/tags/snaptrip/">snaptrip news</a> is pulled in from my <a href="http://blech.vox.com/">blog at vox.com</a>. You might also like to look at my home page, <a href="http://husk.org/">husk.org</a>. snaptrip is a web application by Paul Mison, hosted on <a href="http://code.google.com/appengine/">Google App Engine</a>.</p>

    </div>

  </div>

  {% include "includes/footer.html" %}
</body>
</html>
