<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>snaptrip - authenticate</title>
  <link rel="stylesheet" href="/style/core.css" title="core" type="text/css" media="all"> 
</head>
<body>
  {% include "includes/header.html" %}
  
  <div id="main">
    <h1 style="color:#ccc;">{% if not session.dopplr %}<a href="{{ dopplr_url }}">{% endif %}Authenticate{% if session.dopplr %}d{% endif %} with Dopplr{% if not session.dopplr %}</a>{% endif %}</h1>
  
    <h1 style="color:#ccc;">{% if not session.flickr %}<a href="{{ flickr_url }}">{% endif %}Authenticate{% if session.flickr %}d{% endif %} with Flickr{% if not session.flickr %}</a>{% endif %}</h1>
  
    <div id="faq" style="width:400px;">  
      <h3>What is 'snaptrip'?</h3>
      
      <p>snaptrip is a web application that aims to give you a better view of your past trips in Dopplr, including working with Flickr.</p>
      
      <h3>Hence the name?</h3>
      
      <p>Yes, "snap" + "trip". Imaginative, huh?</p>
      
      <h3>Why do I have to authenticate?</h3>
      
      <p>Rather than asking you to log in here, snaptrip asks you to authenticate against Dopplr (and, preferably, Flickr). That's because they already know who you are, and more importantly, how to check you are who you say you are. Since you're probably alredy logged in at each site, you should just need to approve this application. <!-- (The screens look like this: --></p>
    
      <h3>Once I've authenticated, what can I do here?</h3>
      
      <p>The main page of this site shows you a list of all your trips, past and future (you can change this once you're logged in). From there, you can visit each trip's page at Dopplr, but also work with your Flickr photostream. The aim is to let you associate trip on Dopplr with photos and sets on Flickr, giving you a nice view of trips you - and others - have taken.</p>
      
      <h3>How are these associations stored?</h3>
      
      <p>Well, there's no storage here. Instead, snaptrip will use machine tags on both Flickr and Dopplr to record information with each photo and trip.</p>

<!-- 
      <h3>What state is this application in?</h3>
      
      <p>If you're seeing this and I didn't give you a link, you probably shouldn't be using it. This is <b>pre release software</b>. No, really. So far it doesn't write data but it may not quite do what you expect. Please be careful.</p>
      
 -->
      <!--
      <h3>How do I find out more?</h3>
  
      <p>Just get in touch via the <a href="/form/">form</a>.    
      -->
    </div>  
      
  </div>

  {% include "includes/footer.html" %}
</body>
</html>
