<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>snaptrip - trip overview.</title>
  <link rel="stylesheet" href="/style/core.css" title="Main styles for this page" type="text/css" media="all"> 
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      /* cities list */
      $("ul.cities li").hover(function() {
        $(this).css({ backgroundColor:"#def" });
      }, function() {
        $(this).css({ backgroundColor:"#fff" })
      });
      $("li").click(function() {
        $(this).css({ backgroundColor:"#fff" })
        $(this).children('div.city_details').toggle();
      });

      // if they're clickable, they should look clickable
      $("ul.cities li").css({ cursor:"hand" });
      $("ul.cities li").css({ cursor:"pointer" });

      /* countries list */
      $("ul#countries li").hover(function() {
        $(this).css({ backgroundColor:"#def" });
        code = $(this).attr('id');
        $("ul.cities li."+code).css({ backgroundColor:"#def" });
      }, function() {
        $(this).css({ backgroundColor:"#fff" })
        code = $(this).attr('id');
        $("ul.cities li."+code).css({ backgroundColor:"#fff" });
      });
      $("li").click(function() {
//         $(this).css({ backgroundColor:"#fff" })
//         $(this).children('div.city_details').toggle();
      });

      // if they're clickable, they should look clickable
//       $("ul#countries li").css({ cursor:"hand" });
//       $("ul#countries li").css({ cursor:"pointer" });


    })
    
    function showall() {
      $('ul#citiesplus').slideDown('fast');
      $('p#cities_info').show();
      $('p#showall').hide();
      return false;
    }
  
  </script>
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load("visualization", "1", {packages:["intensitymap"]});
    // google.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', '', 'Country');
      data.addColumn('number', 'Population (mil)', 'a');
      data.addRows({{ stats.countries|length }});
    
    {% for country in stats.countries %}
      data.setValue({{ loop.index0 }}, 0, '{{ stats.countries[country].code }}');
      data.setValue({{ loop.index0 }}, 1, {{ stats.countries[country].duration }});
    {% endfor %}

      var chart = new google.visualization.IntensityMap(document.getElementById('chart_div'));
      chart.draw(data, {width:440,height:190,});
      $('div.google-visualization-intensitymap-legend').hide();
    }
  </script>
</head>
<body>
  {% include "includes/header-beta.html" %}
  
  <div id="content">
    <div id="main" class="stats wide">
    
      <h3>Trip overview{% if traveller.name != session.name %} for {{ traveller.name }}{% endif %}.</h3>
    
      {% if not trips %}
      <p>There are no trips in Dopplr to show.</p>
      {% else %}

      <!-- TODO turn into a list (!!) -->

      <div class="label">1.</div>
      
      <div class="twoasymcol-left">Countries visited.
        <div class="map">
          <div id="mapimage"><img src="http://chart.apis.google.com/chart?cht=t&chs=440x190&chtm=world&chco=ffffff,{{ stats.rgb_start }},{{ stats.rgb }}&chld={% for country in stats.countries %}{{ stats.countries[country].code }}{% endfor %}&chd=t:{% for country in stats.countries %}{{ stats.countries[country].scaled }}{% if not loop.last %},{% endif %}{% endfor %}" width="440" height="190"></div>
          <div id="mapoverlay"><img src="/images/google_map_overlay.png" width="440" height="190"></div>
        </div>
      </div>
      
      <div class="label">2.</div>

      <div class="twoasymcol-right">Trips by type.<br><br>{# TODO two <br>s? How declassee... #} 
<!-- <option value="plane">by plane</option>
<option value="train">by train</option>
<option value="car">by car</option>
<option value="bus">by bus</option>
<option value="ferry">by ferry</option>
<option value="motorcycle">by motorcycle</option>
<option value="cycle">by bicycle</option>
<option value="walk">on foot</option>
<option value="other">other</option -->

      <table cellpadding="0" cellspacing="0" border="0" width="290">
      {% for type in stats.ordered.types %}
        <tr>
          <td><img src="/images/{{ type }}.png" width="15" height="15" style="margin:0px 5px 5px 0px;" alt="Trips by {{ type }}"></td>
          <td><div style="background:#{{ stats.rgb }}; display:block; width:{{ stats.types[type].scaled }}px; height:15px; margin-bottom:5px; color:#fff;"></div></td>
          <td class="switch" width="70px" align="right">{{ stats.types[type].journeys }} journeys</td>
        </tr>
      {% endfor %}
      </table><br></div>

      <div class="label">3.</div>

      <div class="twoasymcol-right">When.<br><br>{# TODO two <br>s? How declassee... #} 
      {% for year in stats.ordered.years %}
        <div class="trips_by_year" style="position:relative; height:27px;">
          <div style="position:absolute; top:0px; left:0px; height:16px; line-height:16px;">{{ year }}</div>
          <div style="position:absolute; top:0px; left:40px; background:#{{ stats.rgb }}; width: {{ stats.years[year].trips_scaled }}px; height:12px; text-align:right; font-size:10px; line-height:12px;">{{ stats.years[year].trips }} trips&nbsp;</div>
          <div class="switch" style="position:absolute; top:13px; left:40px; background:#ccc; width: {{ stats.years[year].duration_scaled }}px; height:12px; text-align:right; font-size:10px; line-height:12px; padding-right:2px;">{{ stats.years[year].duration }} days&nbsp;</div>
 

<!--            {{ stats.years[year].trips }} {{ stats.years[year].trips_blocks_l|length }} {{ stats.years[year].trips_blocks_l|length * stats.trips_per_block }} {{ stats.years[year].trips_blocks_r }} -->
<!--            {% for i in stats.years[year].trips_blocks_l %}
            <div style="width:{{ stats.block_width-3 }}px; border:1px solid #{{ stats.rgb }}; height:14px; margin-right:1px; float:left;"></div>
            {% endfor %}{% if stats.years[year].trips_blocks_r > 2 %}
            <div style="width:{{ stats.years[year].trips_blocks_r-3 }}px; border:1px solid #{{ stats.rgb }}; height:14px; float:left;"></div>
            {% endif %} 
          </div> -->
        </div>
      {% endfor %}
      </div>

<!-- 
        <div class="br"></div>

      <div class="label">2.</div>
      
      <div class="threecol">Trips by year.<br><br>{# TODO two <br>s? How declassee... #}

      {% for year in stats.ordered.years %}
        <div class="trips_by_year" style="position:relative; height:17px;{#{% if stats.ordered.types|length < loop.index %} display:none;{% endif %}#}">
          <div style="position:absolute; top:0px; left:0px; height:16px; line-height:16px;">{{ year }}</div>
          <div style="position:absolute; top:0px; left:40px; background:#fff;">
 -->
<!--            {{ stats.years[year].trips }} {{ stats.years[year].trips_blocks_l|length }} {{ stats.years[year].trips_blocks_l|length * stats.trips_per_block }} {{ stats.years[year].trips_blocks_r }} -->
<!-- 
            {% for i in stats.years[year].trips_blocks_l %}
            <div style="width:{{ stats.block_width-3 }}px; border:1px solid #{{ stats.rgb }}; height:14px; margin-right:1px; float:left;"></div>
            {% endfor %}{% if stats.years[year].trips_blocks_r > 2 %}
            <div style="width:{{ stats.years[year].trips_blocks_r-3 }}px; border:1px solid #{{ stats.rgb }}; height:14px; float:left;"></div>
            {% endif %}
          </div>
        </div>
      {% endfor %}

 -->
<!--
    <p class="switch">
    {{ stats.top_year_trips }} trips in busiest year, with
    {{ stats.trips_per_block }} trips per block. Each block is
    {{ stats.block_width }} pixels wide.</p> -->
<!-- 

      </div>

      <div class="label">3.</div>
      
      <div class="threecol">Trips by type.<br><br>{# TODO two <br>s? How declassee... #}

      <table cellpadding="0" cellspacing="0" border="0">
      {% for type in stats.ordered.types %}
        <tr>
          <td><img src="/images/{{ type }}.gif" width="25" height="25" alt=""></td>
          <td><div style="background:#{{ stats.rgb }}; display:block; width:{{ stats.types[type].scaled }}px; height:20px; margin-bottom:5px; color:#fff;"></div></td>
        </tr>
      {% endfor %}
      </table></div>

      <div class="label">4.</div>
      
      <div class="threecol">Days on trips, {{ stats.ordered.years_by_trip[0] }}.<br>
        <img src="http://chart.apis.google.com/chart?cht=p&chs=100x100&chco={{ stats.rgb_start }},{{ stats.rgb }}&chd=t:{{ stats.home.days }},{{ stats.away.days }}" width="100" height="100">
      </div>
 -->

        <div class="br"></div>

      <div class="label">4.</div>
      
      <div class="twosymcol">Countries visited.<br>
      
        <ul id="countries" class="dotted small">
        {% for country in stats.ordered.countries %}
          <li id="{{ stats.countries[country].code }}"><span class="block" style="background:#{{ stats.countries[country].rgb_scaled}}">&nbsp</span>
              <span class="country">{{ stats.countries[country].display }}</span> 
              <span class="details">
                {{ stats.countries[country].trips }} trip{% if stats.countries[country].trips != 1 %}s{% endif %}, 
                {{ stats.countries[country].duration }} day{% if stats.countries[country].duration != 1 %}s{% endif %}
              </span><br>
           </li>
        {% endfor %}
        </ul>
  
        <p class="switch">{{ stats.ordered.countries|length }} countries visited over {{ trips|length }} trips.</p>

      </div>

      <div class="label">5.</div>
      
      <div class="twosymcol">Cities visited.<br>
      
        <ul id="cities" class="cities dotted small" style="margin-bottom:0px;">
        {% for city in stats.ordered.cities %}
          {% if stats.ordered.countries|length+1 == loop.index %}
        </ul><ul id="citiesplus" class="cities dotted small hidden" style="margin-top:0px;">
          {% endif %} 

          <li class="{{ stats.cities[city].code }}">
              <span class="block" style="background:#{{ stats.cities[city].rgb}}; display:block;">&nbsp</span>
              <span class="city">{{ city }}</span> 
              <span class="details">
              {{ stats.cities[city].trips }} trip{% if stats.cities[city].trips != 1 %}s{% endif %}, 
              {{ stats.cities[city].duration }} day{% if stats.cities[city].duration != 1 %}s{% endif %}
              </span><br>
              
              <div class="city_details" id="{{ stats.cities[city].id }}">
                {% for trip in stats.cities[city].trip_list | reverse %}
                  <span class="city"><a href="/trip/{{ trip.id }}">{{ trip.startdate.strftime("%B %Y") }}</a></span>
                  <span class="details">{{ trip.duration }} day{% if trip.duration != 1 %}s{% endif %}</span><br>
                {% endfor %}</div>
           </li>
        {% endfor %}
        </ul>
        
        <p id="cities_info" class="switch" style="display:none;">{{ stats.cities|length }} {% if stats.cities|length == 1 %}city{% else %}cities{% endif %} visited over {{ trips|length }} trips.</p>

        <p id="showall" class="switch">{{ stats.cities|length }} {% if stats.cities|length == 1 %}city{% else %}cities{% endif %} visited over {{ trips|length }} trips.
          <a href="#" onclick="javascript:return showall()">Show all?</a></p>

      </div>
      
      <div class="br"></div>

      {% endif %}

      <p><a href="/where/{{ traveller.nick }}">&larr; Return to the listing of all trips</a>.</p>

    </div>
  </div>
</body>
</html>
