<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>snaptrip - trip overview.</title>
  <link rel="stylesheet" href="/style/core.css" title="Main styles for this page" type="text/css" media="all"> 
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      /* equalise columns */
      if ($('div#when').height() > $('div#countries-visited').height()) {
        $('br#equalise').show();
      }

      /* cities list */
      $("ul.cities li").hover(function() {
        $(this).css({ backgroundColor:"#def" });
        code = $(this).attr('class');
        console.log(code);
        $("ul#countries li#"+code).css({ backgroundColor:"#def" });
      }, function() {
        $(this).css({ backgroundColor:"#fff" })
        code = $(this).attr('class');
        console.log(code);
        $("ul#countries li#"+code).css({ backgroundColor:"#fff" });
      });
      $("li").click(function() {
        // $(this).css({ backgroundColor:"#fff" })
        $(this).children('div.city_details').toggle();
      });

      // if they're clickable, they should look clickable
      $("ul.cities li").css({ cursor:"hand" });
      $("ul.cities li").css({ cursor:"pointer" });

      /* countries list */
      $("ul#countries li").hover(function() {
        $(this).css({ backgroundColor:"#def" });
        code = $(this).attr('id');
        $("ul.cities li."+code).css({ backgroundColor:"#def" });
      }, function() {
        $(this).css({ backgroundColor:"#fff" })
        code = $(this).attr('id');
        $("ul.cities li."+code).css({ backgroundColor:"#fff" });
      });
    })
    
    function showall() {
      $('ul#citiesplus').slideDown('fast');
      $('a#cities_info').hide();
      return false;
    }
  
  </script>
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load("visualization", "1", {packages:["intensitymap"]});
    // google.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', '', 'Country');
      data.addColumn('number', 'Duration (days)', 'a');
      data.addRows({{ stats.countries|length }});
    
    {% for country in stats.countries %}
      data.setValue({{ loop.index0 }}, 0, '{{ stats.countries[country].code }}');
      data.setValue({{ loop.index0 }}, 1, {{ stats.countries[country].duration }});
    {% endfor %}

      var chart = new google.visualization.IntensityMap(document.getElementById('chart_div'));
      chart.draw(data, {width:440,height:190,});
      $('div.google-visualization-intensitymap-legend').hide();
    }
  </script>
  
  <style type="text/css">
    div.year_odd div.bar {
      background:#{{ stats.rgb }};
    }
    div.year_even div.bar-inv {
      background:#{{ stats.rgb }};
    }
    div.year_even div.bar {
      background:#ccc;
    }
    div.year_odd div.bar-inv {
      background:#ccc;
    }

  </style>

  
</head>
<body>
  {% include "includes/header.html" %}
  
  <div id="content">
    <div id="main" class="stats wide">
    
      <h3>Trip overview{% if traveller.name != session.name %} for {{ traveller.name }}{% endif %}.</h3>
    
      {% if not trips %}
      <p>There are no trips in Dopplr to show.</p>
      {% else %}
      
      <div id="countries-visited" class="twoasymcol-left">Countries visited.
        <div class="map">
          <div id="mapimage"><img src="http://chart.apis.google.com/chart?cht=t&chs=440x190&chtm=world&chco=ffffff,{{ stats.rgb_start }},{{ stats.rgb }}&chld={% for country in stats.countries %}{{ stats.countries[country].code }}{% endfor %}&chd=t:{% for country in stats.countries %}{{ stats.countries[country].scaled }}{% if not loop.last %},{% endif %}{% endfor %}" width="440" height="190"></div>
          <div id="mapoverlay"><img src="/images/google_map_overlay.png" width="440" height="190"></div>
        </div>
      </div>
            
      <div id="when" class="twoasymcol-right">When.<br><br>{# TODO two <br>s? How declassee... #} 

      {% if statyear %}
        In {{ statyear }}, {{ stats.years[statyear].trips }} trips over {{ stats.years[statyear].duration }} days, including {{ stats.years[statyear].distance }} kilometres of travel.<br><br>

        <a href="/overview/{% if traveller.name != session.name %}{{ traveller.nick }}{% endif %}" class="switch">All</a> |

        {% for year in stats.ordered.years %}
          {% if year == statyear %}
            <b class="switch">{{ year }}</b>{% if not loop.last %} | {% endif %}
          {% else %}
            <a href="/overview/{% if traveller.name != session.name %}{{ traveller.nick }}/{% endif %}year/{{ year }}" class="switch">{{ year }}</a> {% if not loop.last %} | {% endif %}
          {% endif %}
        {% endfor %}
      {% else %}

        {% for year in stats.ordered.years %}
        
          <div class="trips_by_year {{ loop.cycle('year_odd', 'year_even') }}" style="position:relative; height:45px;">
            <div style="position:absolute; top:0px; left:0px; height:16px; line-height:16px;"><a href="/overview/{% if traveller.name != session.name %}{{ traveller.nick }}/{% endif %}year/{{ year }}">{{ year }}</a></div>
            <div class="bar" style="position:absolute; top:0px; left:40px; width: {{ stats.years[year].trips_scaled }}px; height:12px;"></div>
              <div style="position:absolute; top:0px; right:0px; " class="switch">{{ stats.years[year].trips }} trip{% if stats.years[year].trips != 1 %}s{% endif %}</div>
            <div class="bar-inv" style="position:absolute; top:13px; left:40px; width: {{ stats.years[year].duration_scaled }}px; height:12px;"></div>
              <div style="position:absolute; top:12px; right:0px; " class="switch">{{ stats.years[year].duration }} day{% if stats.years[year].duration != 1 %}s{% endif %}</div>
            <div class="bar" style="position:absolute; top:26px; left:40px; width: {{ stats.years[year].dist_scaled }}px; height:12px;"></div>
              <div style="position:absolute; top:25px; right:0px; " class="switch">{{ stats.years[year].distance }} km</div>
          </div>
        {% endfor %}
      {% endif %}
      </div>

      <br id="equalise" clear="both" style="display:none;">

      <div class="twoasymcol-right">Trips by type.<br><br>{# TODO two <br>s? How declassee... #} 
<!-- <option value="plane">by plane</option>
<option value="train">by train</option>
<option value="car">by car</option>
<option value="bus">by bus</option>
<option value="ferry">by ferry</option>
<option value="motorcycle">by motorcycle</option>
<option value="cycle">by bicycle</option>
<option value="walk">on foot</option>
<option value="other">other</option -->

      <table cellpadding="0" cellspacing="0" border="0" width="340">
      {% for type in stats.ordered.types %}
        <tr>
          <td><img src="/images/{{ type }}.png" width="15" height="15" style="margin:0px 5px 5px 0px;" alt="Trips by {{ type }}"></td>
          <td><div style="background:#{{ stats.rgb }}; display:block; width:{{ stats.types[type].scaled }}px; height:15px; margin-bottom:5px; color:#fff;" title="{{ stats.types[type].distance }} km"></div></td>
          <td class="switch" width="70px" align="right">{{ stats.types[type].journeys }} journeys</td>
        </tr>
      {% endfor %}
      </table></div>

        <div class="br"></div>
      
      <div class="twosymcol-left">Countries visited.<br>
      
        <ul id="countries" class="dotted small">
        {% for country in stats.ordered.countries %}
          <li id="{{ stats.countries[country].code }}"><span class="block" style="background:#{{ stats.countries[country].rgb_scaled}}">&nbsp</span>
              <span class="country">{{ stats.countries[country].display }}</span> 
              <span class="details">
                {{ stats.countries[country].trips }} trip{% if stats.countries[country].trips != 1 %}s{% endif %}, 
                {{ stats.countries[country].duration }} day{% if stats.countries[country].duration != 1 %}s{% endif %}
              </span><br>
           </li>
        {% endfor %}
        </ul>
  
        <p class="switch">{{ stats.ordered.countries|length }} {% if stats.countries|length == 1 %}country{% else %}countries{% endif %} visited during {{ stats.trips }} trip{% if stats.trips != 1 %}s{% endif %}.</p>

      </div>

      <div class="twosymcol-right">Cities visited.<br>
      
        <ul id="cities" class="cities dotted small" style="margin-bottom:0px;">
        {% for city in stats.ordered.cities %}
          {% if stats.ordered.countries|length+1 == loop.index and not statyear %}
        </ul><ul id="citiesplus" class="cities dotted small hidden" style="margin-top:0px;">
          {% endif %} 

          <li class="{{ stats.cities[city].code }}">
              <span class="block" style="background:#{{ stats.cities[city].rgb}}; display:block;">&nbsp</span>
              <span class="city">{{ city }}</span> 
              <span class="details">
              {{ stats.cities[city].trips }} trip{% if stats.cities[city].trips != 1 %}s{% endif %}, 
              {{ stats.cities[city].duration }} day{% if stats.cities[city].duration != 1 %}s{% endif %}
              </span><br>
              
              <div class="city_details" id="{{ stats.cities[city].id }}">
                {% for trip in stats.cities[city].trip_list | reverse %}
                  <span class="city"><a href="/trip/{{ trip.id }}">{{ trip.startdate.strftime("%B %Y") }}</a></span>
                  <span class="details">{{ trip.duration }} day{% if trip.duration != 1 %}s{% endif %}</span><br>
                {% endfor %}</div>
           </li>
        {% endfor %}
        </ul>
        
        <p id="showall" class="switch">{{ stats.cities|length }} {% if stats.cities|length == 1 %}city{% else %}cities{% endif %} visited during {{ stats.trips }} trip{% if stats.trips != 1 %}s{% endif %}.
          {% if stats.cities|length > stats.countries|length and not statyear %}<a id="cities_info" href="#" onclick="javascript:return showall()">Show all?</a>{% endif %}</p>

      </div>
      
      <div class="br"></div>

      {% endif %}

      <div class="wide_nav">
        <span class="left"><a href="/{% if traveller.name != session.name %}where/{{ traveller.nick }}{% endif %}">&larr; Return to the listing of all trips</a>.</span>
        <span class="right"><a href="/overview/dopplr.csv">Download all trip data (CSV).</a></span>
      </div>

    </div>
  </div>
</body>
</html>
