<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>snaptrip - a set, '{{ metadata.title._content }}', on Flickr</title>
  <link rel="stylesheet" href="/style/core.css" title="Main styles for this page" type="text/css" media="all"> 
  <style type="text/css">
    div#photos span.image a.img img.dopplr {
      border:2px solid #{% if set.trip_info %}{{ set.trip_info.city.rgb }}{% else %}666{% endif %};
    }
    
  </style>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
  
</head>
<body>
  {% include "includes/header-beta.html" %}

  <div id="content">
    <div id="main" class="set">
      <h2>{{ metadata.title._content }}, a set on Flickr.</h2>

      <p>{{ metadata.description._content }}</p>

    {% if set.trip_info %}
      <p>This set's photos are already tagged for a Dopplr <a href="/trip/{{ set.trip_id }}">trip to {{ set.trip_info.city.name }}</a>.</p>
    {% else %}
      {% if trip_ids %}
        {% if trip_ids|length > 1 %}
        <p>This set overlaps with trips on Dopplr to {% for trip_id in trip_ids %}<a href="/trip/{{ trip_id }}">{{ trip_ids[trip_id].city.name }}</a>{% if loop.index+1 == trip_ids|length %} and {% elif not loop.last %}, {% endif %}{% endfor %}.</p>
        {% else %}
        <p>This set overlaps with a trip on Dopplr to {% for trip_id in trip_ids %}<a href="/trip/{{ trip_id }}">{{ trip_ids[trip_id].city.name }}</a>{% endfor %}.</p>
        {% endif %}
      {% else %}
        <p>There is no matching trip in Dopplr for these dates. If this set is from a trip, you can add a {{ set.days }} day long trip.</p>

        <form>
          <label for="start">Start date: </label>
          <input class="form date" type="text" name="start" value="{{ set.startdate }}"><br>
          
          <label for="end">End date: </label>
          <input class="form date"type="text" name="end" value="{{ set.finishdate }}"><br>

          <label for="end">Destination: </label>
          <input class="form text" type="text" name="destination" value=""><br>
          
          <input type="submit" name="add" value="Add trip">
        </form>

      {% endif %}
    {% endif %}
      
    {% if set.photo %}

<!-- photos -->        
      <h3 class="photos">Flickr photos from this set.</h3>
        <div id="photos">
          {% for photo in set.photo %}
            {% if loop.index > 24 %}
              {% break %}
            {% endif %}
            <span class="image">
              <a href="http://flickr.com/photos/{{ nsid }}/{{ photo.id }}/" class="img"><img src="http://farm{{ photo.farm }}.static.flickr.com/{{ photo.server }}/{{ photo.id }}_{{ photo.secret }}_s.jpg" alt="{{ photo.title }}"{% if photo.dopplr %} class="dopplr"{% endif %} title="View '{{ photo.title }}' at Flickr." id="{{ photo.id }}"></a>
              {% if photo.latitude %}<span class="geo"><a href="#" onclick="javascript:return centermap({{ photo.latitude }}, {{ photo.longitude }}, {{ photo.accuracy }})" title="This photo has a location."><img src="/images/pushpin-whitesmall.png" class="pin"></a></span>{% endif %}
            </span>
          {% endfor %}

          <br style="clear:both;">        
    {% endif %}    

<!-- 'showing' text -->
            <p id="phototext">Showing 
            {% if set.total > 24 %}
              <span class="count">24 of {{ set.total }} photos (page {{ set.page }} of {{ set.total|int // 24 + 1 }})</span>
            {% else %}
              all {{ set.total }} photos       
            {% endif %}
          
<!-- 'showing' text: (machine)tag -->
              in this set.</p>
           
<!-- tag info -->
            <p id="tag">{% if set.totag == "0" %}All{% if set.total > 24 %} {{ set.total }}{% endif %} of these photos are tagged for Dopplr.{% else %}
              You can <a href="#" onclick="javascript:return tag('dopplr')">add a Dopplr tag</a> to 
              {% if set.totag != set.total %}
                {{ set.totag }} photo{% if set.totag != "1" %}s{% endif %} at Flickr that {% if set.totag != "1" %}aren't{% else %}isn't{% endif %} currently tagged.</p>
              {% else %}
                all these photos at Flickr.</p>
              {% endif %}
            {% endif %}
 
<!-- location info -->
            <p id="geotag">{% if set.geototal == 0 %}None{% else %}{% if set.geototal == set.subtotal %}All{% if set.total > 24 %} {{ set.total }}{% endif %}{% else %}{{ set.geototal }}{% endif %}{% endif %} of these photo{% if set.geototal != 1 %}s are{% else %}s is{% endif %} already tagged with {% if set.geototal == 1 %}its{% else %}their{% endif %} location in Flickr.{% if set.subtotal != set.geototal %}
              You can <a href="#" onclick="javascript:return tag('geo')">add a location</a> based on your trip to {% if set.geototal == 0 %}all these photos{% else %}the photos that don't already have one{% endif %}.
            {% endif %}</p>
            
            </div>
     
      <!--

      <p><tt>{{ metadata }}</tt></p>
      
      <p><tt>{{ set }}</tt></p>

      -->

    </div>

    <div id="side">
      <h3>About sets.</h3>
      
      <p>Sets are a convenient way of grouping Flickr photos, and so snaptrip works with them. There are three situations that snaptrip expects.</p>
      
      <dl>
        <dt>Set has no matching trip.</dt>
        <dd>Sometimes a set in Flickr won't have a matching trip in Dopplr. If this is the case, snaptrip can start by adding a trip based on the information in the photos in the set, before going on to do the work described below.
        
            <a href="http://localhost:8080/sets/set/72157608066839657">Iceland</a>
        
        </dd>
        
        <dt>Set is not fully tagged, but matches a trip.</dt>
        <dd>If snaptrip can find a trip whose date span includes the photos in a set, it can offer to tag the photos for Dopplr, and add location data.

            <a href="http://localhost:8080/sets/set/72157594480925485">Mississippi</a>
                
        </dd>
        
        <dt>Set is fully tagged.</dt>
        <dd>If all the images in a set are already tagged for Dopplr, then there's not much to do for the photos at Flickr. However, it is possible to tag the trip at Dopplr as having an associated Flickr set.
        
            <a href="http://localhost:8080/sets/set/72157602209131797">Cromer</a>
                
        </dd>
      </dl>
        

    </div>
  </div>
  
  {% include "includes/footer.html" %}
</body>
</html>
