<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>snaptrip - add a trip from a Flickr set</title>
  <link rel="stylesheet" href="/style/core.css" title="Main styles for this page" type="text/css" media="all"> 
  
  <style type="text/css">
    div.set {
      width: 520px;
      clear:both;
      border-bottom: 1px dotted #ccc;
      min-height: 87px;
      padding-top: 10px;
    }

    div.set.first {
      padding-top: 0px;
    }

    div.set.last {
      margin-bottom: 10px;
    }

    div.set h3 {
      margin: 0px;
      padding-bottom:0px;
      padding-right: 5px;
      margin-bottom: 2px;
      line-height:20px;
    }

    div.set p.count {
      font-size: 12px;
      text-align: right;
    }
    
    div.set p.desc {
      clear:right;
    }
    
    div.set img {
      margin-right: 10px;
      margin-bottom: 2px;
      width: 75px;
      height: 75px;
      border: 2px solid #fff;
    }
    
    div#set_trip_nav {
      width: 520px;
      padding-bottom: 10px;
    }

  </style>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
  <script type="text/javascript">
    var ids = new Array();
    var index = 0;

    $(document).ajaxError(function(){
        if (window.console && window.console.error) {
            console.error(arguments);
        }
    });
  
    $(document).ready(function() {
      $("div.set").each(function(i) {
        id = $(this).attr('id');
        if ($('div#'+id+" span.date").text() == ".") {
          ids.push(id);
        }
      });

      $("div.set").hover(function() {
        $(this).css({ backgroundColor:"#def" });
        $(this).children().children("a").css({ color:"#47a" });
        // get URL
        // local = $(this).children().children("a").attr("href").substring(1);
        // window.status = window.location + local;
      }, function() {
        $(this).css({ backgroundColor:"#fff" })
        $(this).children().children("a").css({ color:"#69c" });
        window.status = '';
      });
      
      console.log(ids);
      if (ids.length) {
        _get_set_info(ids[0]);
      }

      /* all-in-one version - to try on live?
      for (var i=0; ids.length>i; i++) {
        console.log(ids[i]);
        _get_set_info(ids[i]);
      } */

    });   

    function _get_set_info(id) {
      var ajax_url = "/ajax/photos.set?set_id="+id;
      $.getJSON(ajax_url, 
                function(json) {
                  if (json.stat == "ok") {
                    $('div#'+id+" span.date").text(", "+json.photoset.dates+".");
              
                    if (json.photoset.trip_id) {
                      console.log("trip_id matched: "+json.photoset.trip_id)
                      console.log(json.photoset.trip_info.rgb)
                      $('div#'+id+" img").css({ border:"2px solid #"+json.photoset.trip_info.rgb })
                      $('div#'+id+" span.date").html(", during a <a href='/trip/"+json.photoset.trip_id+"'>trip to "+json.photoset.trip_info.name+"</"+"a>.");
                    }
              
                    index++;
                    if (ids[index]) {
                      _get_set_info(ids[index]);
                    }
                  } else {
                    try {
                      console.log("json.stat not ok:"+json.message+"; aborting");
                    } catch (err) {}
                    return;
                  }
                }
               );
    }
  </script>
  
</head>
<body>
  {% include "includes/header.html" %}

  <div id="content">
    <div id="main" class="add">
      <h2>Add a trip to Dopplr from a Flickr set.</h2>

      <p>If you already have a set for a trip in Flickr, you can convert it to a trip in Dopplr.</p>
      
      {% for photoset in sets.photoset %}
        <div class="set{% if loop.first %} first{% endif %}{% if loop.last %} last{% endif %}" id="{{ photoset.id }}">
          <img src="http://farm{{ photoset.farm }}.static.flickr.com/{{ photoset.server }}/{{ photoset.primary }}_{{ photoset.secret }}_s.jpg" alt="" title="" id="{{ photoset.primary }}" style="float:left;{% if photoset.trip_info %} border:2px solid #{{ photoset.trip_info.rgb }};{% endif %}">
          <h3><a href="/sets/set/{{ photoset.id }}">{{ photoset.title._content }}</a></h3>
          <p class="desc">{{ photoset.description._content }}</p>
          <p class="count">{{ photoset.photos }} photo{% if photoset.photos != 1 %}s{% endif %}<span class="date">{% if photoset.trip_info %}, during a <a href="/trips/{{ photoset.id }}">trip to {{ photoset.trip_info.name }}</a>.{% else %}{% if photoset.dates %}, {{ photoset.dates }}.{% else %}.{% endif %}{% endif %}</span>
          </p>
        </div>

      {% endfor %}
      
      <!-- page navigation - if needed -->
      {% if sets.pages != 1 %}
        <div id="set_trip_nav" class="trip_nav">
          <p>Showing sets {{ (sets.page-1)*(sets.perpage)+1 }} to {{ (sets.page)*(sets.perpage) }} of {{ sets.total }} (page {{ sets.page }} of {{ sets.pages }}).</p>
        
        {% if sets.page != 1 %} 
          <span class="left"><a href="/sets/page/{{ sets.page-1 }}">&larr; See previous page of sets.</a></span>
        {% endif %}
        {% if sets.page != sets.pages %}
          <span class="right"><a href="/sets/page/{{ sets.page+1 }}">See next page of sets. &rarr;</a></span>
        {% endif %}
        </div>
  
        <br style="clear:both;">        
      {% endif %}
      
    <!-- p><tt style="font: 9px monaco;">{{ sets }}</p -->
            
    </div>

    <div id="side">
      <h3>About...</h3>
      

    </div>
  </div>
  
  {% include "includes/footer.html" %}
</body>
</html>
