<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>snaptrip - all your trips</title>
  <link rel="stylesheet" href="/style/core.css" title="Main styles for this page" type="text/css" media="all"> 
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load("visualization", "1", {packages:["intensitymap"]});
    // google.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', '', 'Country');
      data.addColumn('number', 'Population (mil)', 'a');
      data.addRows({{ stats.countries|length }});
    
    {% for country in stats.countries %}
      data.setValue({{ loop.index0 }}, 0, '{{ stats.countries[country].code }}');
      data.setValue({{ loop.index0 }}, 1, {{ stats.countries[country].duration }});
    {% endfor %}

      var chart = new google.visualization.IntensityMap(document.getElementById('chart_div'));
      chart.draw(data, {width:440,height:190,});
      $('div.google-visualization-intensitymap-legend').hide();
    }
    
    function showall() {
      $('li').show();
      $('p#cities_info').show();
      $('p#showall').hide();
      return false;
    }
  </script>
</head>
<body>
  {% include "includes/header.html" %}
  
  <div id="content">
    <div id="main" class="stats">
    
      <h3>Trip overview{% if traveller.name != session.name %} for {{ traveller.name }}{% endif %}.</h3>
    
      {% if not trips %}
      <p>There are no trips in Dopplr to show.</p>
      {% else %}

      <!-- TODO turn into a list (!!) -->

      <div class="label">1.</div>
      
      <div class="onecol">Countries visited.
        <div class="map"><img src="http://chart.apis.google.com/chart?cht=t&chs=440x190&chtm=world&chco=d7d7d7,{{ stats.rgb_start }},{{ stats.rgb }}&chld={% for country in stats.countries %}{{ stats.countries[country].code }}{% endfor %}&chd=t:{% for country in stats.countries %}{{ stats.countries[country].scaled }}{% if not loop.last %},{% endif %}{% endfor %}" width="440" height="190"></div>
      </div>

      <div class="br"></div>
      
      <div class="label">2.</div>
      
      <div class="threecol">Trips by year.<br><br>{# TODO two <br>s? How declassee... #}

      {% for year in stats.ordered.years_by_trip %}
        <div class="trips_by_year" style="position:relative; height:25px;{% if stats.ordered.types|length < loop.index %} display:none;{% endif %}">
          {% if stats.years[year].trips_scaled < 35 %}
          <div style="position:absolute; top:0px; left:0px; height:20px; line-height:20px; padding-left:5px;">{{ year }}</div>
          {% endif %}

          <div style="position:absolute; top:0px; left:0px; background:#{{ stats.rgb_start }}; display:block; width:{{ stats.years[year].trips_scaled }}px; height:20px; line-height:20px; padding:0px 0px 0px 5px; margin-bottom:5px; color:#fff; overflow:hidden;">{{ year }}</div>
        </div>
      {% endfor %}

{#      <table cellpadding="0" cellspacing="0" border="0">
      {% for year in stats.ordered.years_by_trip %}
        <tr{% if stats.ordered.types|length < loop.index %} style="display:none;"{% endif %}>
          <td><div style="background:#{{ stats.rgb_start }}; display:block; width:{{ stats.years[year].trips_scaled }}px; height:20px; line-height:20px; padding:0px 0px 0px 5px; margin-bottom:5px; color:#fff;">{{ year }}</div></td> 
        </tr>
      {% endfor %}
      </table> #}
<!-- 
        <img src="http://chart.apis.google.com/chart?cht=p&chs=100x100&chco={{ stats.rgb_start }},{{ stats.rgb }}&chd=t:{{ stats.home.trips }},{{ stats.away.trips }}" width="100" height="100"><br>
 -->
      </div>

      <div class="label">3.</div>
      
      <div class="threecol">Trips by type.<br><br>{# TODO two <br>s? How declassee... #}

      <table cellpadding="0" cellspacing="0" border="0">
      {% for type in stats.ordered.types %}
        <tr>
          <td><img src="/images/{{ type }}.gif" width="25" height="25" alt=""></td>
          <td><div style="background:#{{ stats.rgb }}; display:block; width:{{ stats.types[type].scaled }}px; height:20px; margin-bottom:5px; color:#fff;"></div></td>
        </tr>
      {% endfor %}
      </table></div>

      <div class="label">4.</div>
      
      <div class="threecol">Days on trips, {{ stats.ordered.years_by_trip[0] }}.<br>
        <img src="http://chart.apis.google.com/chart?cht=p&chs=100x100&chco={{ stats.rgb_start }},{{ stats.rgb }}&chd=t:{{ stats.home.days }},{{ stats.away.days }}" width="100" height="100">
      </div>

      <div class="br"></div>

      <div class="label">5.</div>
      
      <div class="twocol">Countries visited.<br>
      
        <ul id="countries" class="dotted small">
        {% for country in stats.ordered.countries %}
          <li><span class="block" style="background:#{{ stats.countries[country].rgb_scaled}}">&nbsp</span>
              <span class="country">{{ stats.countries[country].display }}</span> 
              <span class="details">
                {{ stats.countries[country].trips }} trip{% if stats.countries[country].trips != 1 %}s{% endif %}, 
                {{ stats.countries[country].duration }} day{% if stats.countries[country].duration != 1 %}s{% endif %}
              </span>
           </li>
        {% endfor %}
        </ul>
  
        <p class="switch">{{ stats.ordered.countries|length }} countries visited over {{ trips|length }} trips.</p>

      </div>

      <div class="label">6.</div>
      
      <div class="twocol">Cities visited.<br>
      
        <ul id="cities" class="dotted small">
        {% for city in stats.ordered.cities %}
          <li{% if stats.ordered.countries|length < loop.index %} style="display:none;"{% endif %}>
              <span class="block" style="background:#{{ stats.cities[city].rgb}}">&nbsp</span>
              <span class="city">{{ city }}</span> 
              <span class="details">
              {{ stats.cities[city].trips }} trip{% if stats.cities[city].trips != 1 %}s{% endif %}, 
              {{ stats.cities[city].duration }} day{% if stats.cities[city].duration != 1 %}s{% endif %}
              </span>
           </li>
        {% endfor %}
        </ul>
        
        <p id="cities_info" class="switch" style="display:none;">{{ stats.cities|length }} {% if stats.cities|length == 1 %}city{% else %}cities{% endif %} visited over {{ trips|length }} trips.</p>

        <p id="showall" class="switch">{{ stats.cities|length }} {% if stats.cities|length == 1 %}city{% else %}cities{% endif %} visited over {{ trips|length }} trips.
          <a href="#" onclick="javascript:return showall()">Show all?</a></p>

      </div>

      {% endif %}

      <p><a href="/where/{{ traveller.nick }}">&larr; Return to the listing of all trips</a>.</p>

    </div>

    <div id="side">

    {% if stats.ordered.years %}

      <h3>Key.</h3>
 
      <dl>
        <dt><span>1.</span> Countries visited.</dt>
        
        <dd>The map shows all the countries that {% if traveller.nick == session.nick %}you{% else %}{{ traveller.name }}{% endif %} has visited. The colouring reflects the total number of days spent in the country.</dt>
        
        <dt><span>2.</span> Trips by year.</dt>
        
        <dd>How many trips {% if traveller.nick == session.nick %}you{% else %}they{% endif %} have taken in the given years.</dd>
        
        <dt><span>3.</span> Trips by type.</dt>
        
        <dd>Each trip taken contributes to this listing of trips, ordered by the type of transport.</dd>

        <dt><span>4.</span> Days on trips.</dt>
        
        <dd>Every day spent on a trip in {{ stats.ordered.years_by_trip[0] }} contributes to the coloured region of this chart.</dd>

        <dt><span>5.</span> Countries visited.</dt>
        
        <dd>More details on the countries that have been visited.</dd>

        <dt><span>6.</span> Cities visited.</dt>
        
        <dd>Total time and trip information for each city visited.</dd>
      </dl>
      
     {% endif %}

    </div>
  </div>
</body>
</html>
