<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>snaptrip - a trip to {{ trip.trip.city.name }}</title>
  <link rel="stylesheet" href="/style/core.css" title="Main styles for this page" type="text/css" media="all"> 

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
  <script language="text/javascript" type="text/javascript">
  var page = 1;
  var tag_index = 0;
  var photos_to_tag = new Array();

  function loadmore() {
    page++;

  {% ifequal method 'machinetag' %}
    $.getJSON("/ajax/photos.more?page="+page+"&token={{ session.flickr }}&nsid={{ photos.photo.0.owner }}&tripid={{ trip.trip.id }}",
              function(json) { 
                page = json.photos.page;
                add_photos(json);
              }
             );
  {% else %}
    $.getJSON("/ajax/photos.more?page="+page+"&token={{ session.flickr }}&nsid={{ photos.photo.0.owner }}&startdate={{ trip.trip.startdate|date:"Y-m-d" }}&finishdate={{ trip.trip.finishdate|date:"Y-m-d" }}",
              function(json) { 
                page = json.photos.page;
                add_photos(json);
              }
             );
  {% endifequal %}

    function add_photos(json) {
      for (var index in json.photos.photo) {
        // add photos
        photo = json.photos.photo[index];
        html = '<a class="img" href="http://flickr.com/photos/'+photo.owner+'/'+photo.id+'/"><img src="http://farm'+photo.farm+'.static.flickr.com/'+photo.server+'/'+photo.id+'_'+photo.secret+'_s.jpg" alt="'+photo.title+'" class="l" alt="'+photo.title+'" title="'+photo.title+'" id="'+photo.id+'" /></a> '+"\n";
        $('div#photos a.img:last').after(html);
      }
      
      // update text
      photos = json.photos;
      
      var count="";
      if (photos.page = photos.pages) {
        count = "all "+photos.total+" photos";
        $('div#photos a#more').hide();             
        $('div#photos p#tag').show();             
      } else {
        count = photos.perpage+" of "+photos.total+" photos (page "+photos.page+" of "+photos.pages;
      }
      
      $('div#photos span.count').text(count);             
    }

    return false;
  }

  function loaddate() {
    page = 1;

    $.getJSON("/ajax/photos.more?page="+page+"&token={{ session.flickr }}&nsid={{ photos.photo.0.owner }}&startdate={{ trip.trip.startdate|date:"Y-m-d" }}&finishdate={{ trip.trip.finishdate|date:"Y-m-d" }}",
              function(json) { 
                page = json.photos.page;
                add_photos(json);
              }
             );
  }

  function tag(type) {
    if (type == 'dopplr') {
      $('div#photos img').each(function(i) {
        photos_to_tag.push(this.id);
      })
  
      $('p#tag').text("You are adding a Dopplr tag to all these photos at Flickr. Please wait.");
      // $('p#tag').css({ background:'#ffc' });
      _do_tag(photos_to_tag[tag_index]);
    } else {
      alert("Sorry, but tagging of type '"+type+"' isn't enabled yet.");
    }
    
    return false;
  }

  function _do_tag(photo_id) {
    $.getJSON("/ajax/photos.tag?photo_id="+photo_id+"&trip_id={{ trip.trip.id }}&token={{ session.flickr }}",
              function(json) {
                if (json.stat != "ok") {
                  // Flickr returns empty JSON on success, so...
                  alert("There was an error: "+json)
                } else {
                  $('img#'+photo_id).css({ border:"2px solid green" });
                }
                
                tag_index++;
                if (photos_to_tag[tag_index]) {
                  _do_tag(photos_to_tag[tag_index]);
                } else {
                  $('p#tag').html("Your photos have been tagged with <a href='http://flickr.com/photos/tags/dopplr:trip={{trip.trip.id}}'>'dopplr:trip={{ trip.trip.id }}'</a>. Thanks.");
                  // alert("Tagged all photos.");
                }
              }
             );
   }

  </script>

</head>
<body>
  {% include "includes/header.html" %}

  <div id="content">
    <div id="main" class="trip">
      <h2>A trip to {{trip.trip.city.name}}, {{trip.trip.city.country}}.</h2>
      
      {# TODO polyline from start point #}
      {# TODO slippymap? #}
      <p><img src="http://maps.google.com/staticmap?center={{ trip.trip.city.latitude }},{{ trip.trip.city.longitude }}&zoom=4&size=500x188&maptype=terrain&markers={{ trip.trip.city.latitude }},{{ trip.trip.city.longitude }},smallwhite&key={{ keys.gmap }}" 
              style="border: 5px solid #{{ trip.trip.city.rgb }}; height:188px; width:500px;"></p>
    
    {% ifequal trip.trip.status "Future" %}
      <p>This trip hasn't happened yet, so no Flickr photos are available.</p>
      
    {% else %}
      {% ifnotequal trip.trip.nick session.nick %}
        <p>Unfortunately, for now we can't look up photos for other people's trips.</p>

      {% else %}
        
        {% if photos %}
        
          {% if photos.total %}
          <h3>Flickr photos from this trip.</h3>
            <div id="photos"><!-- {{ photos }} -->
            {% spaceless %}
              {% for photo in photos.photo %}
                <a href="http://flickr.com/photos/{{ photo.owner }}/{{ photo.id }}/" class="img"><img src="http://farm{{ photo.farm }}.static.flickr.com/{{ photo.server }}/{{ photo.id }}_{{ photo.secret }}_s.jpg" alt="{{ photo.title }}" class="{% cycle f,n,n,n,n,l %}" title="View '{{ photo.title }}' at Flickr." id="{{ photo.id }}"></a>
              {% endfor %}
            {% endspaceless %}
        
            <p id="phototext">Showing 
            {% ifnotequal photos.pages 1 %}
              <span class="count">{{ photos.perpage }} of {{ photos.total }} photos (page {{ photos.page }} of {{ photos.pages }})</span>
            {% else %}
              all {{ photos.total }} photos       
            {% endifnotequal %}
          
            {% ifequal method 'machinetag' %}
              with the machine tag 'dopplr:trip={{ trip.trip.id }}'.{% ifnotequal photos.pages 1 %} <a href="#" onclick="javascript:return loadmore();" id="more">Load more?</a>{% endifnotequal %}</p>
              
              <p id="tag">Dopplr will use this tag to show your pubic photos, if you have associated your account. However, there may be more photos from this trip. Would you like to <a href="/trip/{{ trip.trip.id }}?by=date">search by date</a> instead?</p>
            {% else %}
              taken between {{ trip.trip.startdate|date:"d F Y" }} and {{ trip.trip.finishdate|date:"d F Y" }}.{% ifnotequal photos.pages 1 %} <a href="#" onclick="javascript:return loadmore();" id="more">Load more?</a>{% endifnotequal %}</p>

            <p id="tag"{% ifnotequal photos.pages 1 %} style="display:none"{% endifnotequal %}>You can 
              <a href="#" onclick="javascript:return tag('dopplr')">add a Dopplr tag</a> to all these photos at Flickr.</p>
            {% endifequal %}
 
            <p>{% if not photos.geototal %}None{% else %}{% ifequal photos.geototal photos.total %}All{% else %}{{ photos.geototal }}{% endifequal %}{% endif %} of these photo{% ifnotequal photos.geototal 1 %}s{% endifnotequal %} are already tagged with their location in Flickr.{% ifnotequal photos.total photos.geototal %}
              You can <a href="#" onclick="javascript:return tag('geo')">add location data</a> based on your trip to photos that don't already have it.
            {% endifnotequal %}</p>
            
            </div>
          {% else %}
            <h3>No Flickr photos found for this trip.</h3>
          {% endif %}
        {% endif %}
        
        {% if not photos %}
            <p>Please <a href="{{ url }}">authenticate with Flickr</a> to see and tag your photos from this trip.</p>
        {% endif %}
      {% endifnotequal %}
    {% endifequal %}
    
      <div id="trip_nav">
        <span class="index"><a href="/where/{{ session.nick }}">&larr; Back to all trips.</a></span>
        <span class="dopplr"><a href="{{ trip.trip.url }}">View this trip at Dopplr. &rarr;</a></span>
      </div>
      
      <!-- {{ trip }} -->
  
    </div>

    <div id="side">
      <h3>About photos on Dopplr.</h3>
      
      <p>Dopplr's trip pages can include photos you've taken on a trip. Firstly, you'll need to <a href="http://www.dopplr.com/account/flickr">associate your Flickr and Dopplr accounts</a>. Once this is done, Dopplr will look for your photos in two ways:</p>
      
      <ul class="trip">
        <li>Using a <a href="http://www.flickr.com/groups/api/discuss/72157594497877875/">machine tag</a> for a given trip</li>
        <li>Searching on date taken</li>
      </ul>
      
      <p>snaptrip can help by making sure that your machine tags are correct, and by setting them if you don't have them already.</p>
    </div>
  </div>
  
  {% include "includes/footer.html" %}
</body>
</html>
