<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>snaptrip - a trip, 'to {{ trip.city.name }} in {{ trip.startdate|date:"F Y" }}', on Dopplr</title>
  <link rel="stylesheet" href="/style/core.css" title="Main styles for this page" type="text/css" media="all"> 
  <style type="text/css">
    div#photos span.image a.img img.dopplr {
      border:2px solid #{{ trip.city.rgb }};
    }
  </style>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
  <script type="text/javascript">
  var page = 1;
  var tag_index = 0;
  var photos_to_tag = new Array();

  function loadmore() { // DEPRECATED and not in sync with the template anyway...
    page++;

  {% ifequal method 'tag' %}
    $.getJSON("/ajax/photos.more?page="+page+"&token={{ session.flickr }}&nsid={{ photos.photo.0.owner }}&tripid={{ trip.id }}",
              function(json) { 
                page = json.photos.page;
                add_photos(json);
              }
             );
  {% else %}
    $.getJSON("/ajax/photos.more?page="+page+"&token={{ session.flickr }}&nsid={{ photos.photo.0.owner }}&startdate={{ trip.startdate|date:"Y-m-d" }}&finishdate={{ trip.finishdate|date:"Y-m-d" }}",
              function(json) { 
                page = json.photos.page;
                add_photos(json);
              }
             );
  {% endifequal %}

    function add_photos(json) {
      for (var index in json.photos.photo) {
        // add photos
        photo = json.photos.photo[index];
        html = "\n                ";
        html += '<a class="img" href="http://flickr.com/photos/'+photo.owner+'/'+photo.id+'/"><img src="http://farm'+photo.farm+'.static.flickr.com/'+photo.server+'/'+photo.id+'_'+photo.secret+'_s.jpg" alt="'+photo.title+'" class="l" alt="'+photo.title+'" title="View \''+photo.title+'\' at Flickr." id="'+photo.id+'" /><'+'/a> ';
        $('div#photos a.img:last').after(html);
      }
      
      // update text
      photos = json.photos;
      
      var count="";
      if (photos.page == photos.pages) {
        count = "all "+(photos.total)+" photos";
        $('div#photos a#more').hide();             
        $('div#photos p#tag').show();             
      } else {
        count = (photos.perpage*page)+" of "+photos.total+" photos (pages 1-"+photos.page+" of "+photos.pages+")";
      }
      
      $('div#photos span.count').text(count);             
    }

    return false;
  }

  // TODO this is, insanely, duplicated. Don't do that.
  function tag(type) {
    if (type == 'dopplr') {
      $('div#photos a.img img').each(function(i) {
        // TODO fix up single method of checking for photo having a property
        if (!$(this).hasClass('dopplr') && this.id) {
          photos_to_tag.push(this.id);
        }
      })
  
      $('p#tag').text("You are adding a Dopplr tag to all these photos at Flickr. Please wait.");
      // $('p#tag').css({ background:'#ffc' });
      _do_tag(photos_to_tag[tag_index]);
      return false;
    }
    
    if (type == 'geo') {
      $('div#photos a.img img').each(function(i) {
        // TODO fix up single method of checking for photo having a property
        if (!$('img#'+this.id).parent().next().length) {
          photos_to_tag.push(this.id);
        }
      })

      $('p#geotag').text("You are adding location data to all these photos at Flickr. Please wait.");
      // $('p#tag').css({ background:'#ffc' });
      _do_geotag(photos_to_tag[tag_index]);
      return false;
    }
    
    alert("Sorry, but tagging of type '"+type+"' isn't enabled yet.");
    return false;
  }

  function _do_tag(photo_id) {
    var ajax_url = "/ajax/photos.tag?photo_id="+photo_id+"&trip_id={{ trip.id }}&woe_id={{ trip.city.woeid }}&token={{ session.flickr }}";
    if (!tag_index) { // first time through, memcache invalidate
      ajax_url += "&page={{ photos.page }}&method={{method}}&nsid={{ photos.photo.0.owner }}";
    }
    $.getJSON(ajax_url,
              function(json) {
                if (json.stat != "ok") {
                  if (json.error) {
                    error = json.error;
                  } else if (json.message) {
                    error = json.message+".";
                  }
                  // Flickr returns empty JSON on success, so...
                  var choice = confirm("There was an error: "+error+" Try again?")
                  if (!choice) { 
                    $('p#tag').html("You cancelled tagging your photos due to an error. Sorry.");
                    return;
                  }
                } else {
                  // TODO display method
                  $('img#'+photo_id).css({ border:"2px solid #{{ trip.city.rgb }}"});
                  tag_index++;
                }
                
                if (photos_to_tag[tag_index]) {
                  _do_tag(photos_to_tag[tag_index]);
                } else {
                  $('p#tag').html("Your photos have been tagged with <a href='http://flickr.com/photos/tags/dopplr:trip={{trip.id}}'>'dopplr:trip={{ trip.id }}'<"+"/a>. Thanks.");
                  // alert("Tagged all photos.");
                }
              }
             );
   }

  function _do_geotag(photo_id) {
    var ajax_url = "/ajax/photos.geotag?photo_id="+photo_id+"&latitude={{ trip.city.latitude }}&longitude={{ trip.city.longitude }}&token={{ session.flickr }}";
    if (!tag_index) { // first time through, add cache invalidate headers
      ajax_url += "&page={{ photos.page }}&method={{method}}&nsid={{ photos.photo.0.owner }}&trip_id={{trip.id}}";
    }
    $.getJSON(ajax_url,
              function(json) {
                if (json.stat != "ok") {
                  // Flickr returns empty JSON on success, so...
                  if (json.error) {
                    error = json.error;
                  } else if (json.message) {
                    error = json.message+".";
                  }
                  
                  var choice = confirm("There was an error: "+error+" Try again?")
                  if (!choice) { 
                    $('p#geotag').html("You cancelled geotagging your photos due to an error. Sorry.");
                    return;
                  }
                } else {
                  // TODO display method
                  $('img#'+photo_id).parent().append('<span class="geo"><img src="/images/pushpin-whitesmall.png" class="pin" title="This photo has a location."><'+'/span>');
                  tag_index++;
                }
                
                if (photos_to_tag[tag_index]) {
                  _do_geotag(photos_to_tag[tag_index]);
                } else {
                  $('p#geotag').html("Your photos have been geotagged at Flickr. Thanks.");
                  // alert("Tagged all photos.");
                }
              }
             );
  }

  </script>

  <script type="text/javascript"
  src="http://www.google.com/jsapi?key={{ keys.gmap }}"></script>
  <script type="text/javascript">
    google.load("maps", "2");
    var map;    

    function initialize() {
        map = new google.maps.Map2(document.getElementById("map"));
        map.setCenter(new GLatLng({{trip.city.latitude}},{{trip.city.longitude}}), 4);
        map.setMapType(G_PHYSICAL_MAP);
        map.addControl(new GSmallMapControl());

        // add trip markers
        var dest_p = new GLatLng({{trip.city.latitude}},{{trip.city.longitude}});

        /* // geodesics. suppressed, for now.
        var dep_p = new GLatLng({{trip.departure.latitude}},{{trip.departure.longitude}});
        var dep_m = new GMarker(dep_p, {zIndexProcess:orderOfCreation, icon:get_small_icon('green')});
        map.addOverlay(dep_m);

        var polyOptions = {geodesic:true};
        var polyline = new GPolyline([
          dep_p,
          dest_p
          ], "#{{ trip.city.rgb }}", 1, 1, polyOptions);
        map.addOverlay(polyline);
        */

    {% for photo in photos.photo %}
      {% if photo.accurate %}
        ll = new GLatLng({{ photo.latitude }}, {{ photo.longitude }});
        marker = new GMarker(ll, {zIndexProcess:orderOfCreation, icon:get_small_icon('white')});
        map.addOverlay(marker);
      {% endif %}
    {% endfor %}

        // add this last to put it on top
        var dest_m = new GMarker(dest_p, {zIndexProcess:orderOfCreation, icon:get_small_icon('red')});
        map.addOverlay(dest_m);
        
    }
    
    function get_small_icon(colour) {
      // Create our "tiny" marker icon
      var icon = new GIcon();
      icon.image = "http://labs.google.com/ridefinder/images/mm_20_"+colour+".png";
      icon.shadow = "http://labs.google.com/ridefinder/images/mm_20_shadow.png";
      icon.iconSize = new GSize(12, 20);
      icon.shadowSize = new GSize(22, 20);
      icon.iconAnchor = new GPoint(6, 20);
      icon.infoWindowAnchor = new GPoint(5, 1);

      return icon;
    }
    
    function centermap(latitude, longitude, accuracy) {
      var ll  = new GLatLng(latitude, longitude);
      // var pm  = new GMarker(ll, get_small_icon('white'));
      // map.addOverlay(pm);
      map.panTo(ll);
      
      return false;
    }
    
    function orderOfCreation(marker,b) { 
      return 1; 
    } 
    
    google.setOnLoadCallback(initialize);
  </script>
  
</head>
<body>
  {% include "includes/header.html" %}

  <div id="content">
    <div id="main" class="trip">
      <h2>A trip to {{trip.city.name}}, {{trip.city.country}}{# ifnotequal trip.nick session.nick %} for {{ traveller.name }}{% endifnotequal #}.</h2>
      
      {# TODO polyline from start point #}
      {# TODO slippymap? #}
      <div id="map" style="width:500px; height:188px; border: 2px solid #{{ trip.city.rgb }};"></div>

    {% ifequal trip.status "Future" %}
      <p>This trip hasn't happened yet, so no Flickr photos are available.</p>
      
    {% else %}
      {% ifnotequal trip.nick session.nick %}
        <p>Unfortunately, for now photos cannot be shown for other people's trips.</p>

      {% else %}
        {% if photos %}

<!-- photos -->        
          {% if photos.total %}
          <h3 class="photos">Flickr photos from this trip.</h3>
            <div id="photos">
              {% for photo in photos.photo %}
                <span class="image">
                  <a href="http://flickr.com/photos/{{ photo.owner }}/{{ photo.id }}/" class="img"><img src="http://farm{{ photo.farm }}.static.flickr.com/{{ photo.server }}/{{ photo.id }}_{{ photo.secret }}_s.jpg" alt="{{ photo.title }}"{% if photo.dopplr %} class="dopplr"{% endif %} title="View '{{ photo.title }}' at Flickr." id="{{ photo.id }}"></a>
                  {% if photo.latitude %}<span class="geo"><a href="#" onclick="javascript:return centermap({{ photo.latitude }}, {{ photo.longitude }}, {{ photo.accuracy }})" title="This photo has a location."><img src="/images/pushpin-whitesmall.png" class="pin"></a></span>{% endif %}
                </span>
              {% endfor %}

              <br style="clear:both;">        

<!-- page navigation - if needed -->
            {% ifnotequal photos.pages 1 %}
              <div class="trip_nav">
              {% ifnotequal photos.page 1 %} 
                <span class="left"><a href="/trip/{{ trip.id }}/by/{{ method }}/{{ prevpage }}">See previous page of photos.</a></span>
              {% endifnotequal %}
              {% ifnotequal photos.page photos.pages %}
                <span class="right"><a href="/trip/{{ trip.id }}/by/{{ method }}/{{ nextpage }}">See next page of photos.</a></span>
              {% endifnotequal %}
              </div>

              <br style="clear:both;">        
            {% endifnotequal %}

<!-- 'showing' text -->
            <p id="phototext">Showing 
            {% ifnotequal photos.pages 1 %}
              <span class="count">{{ photos.subtotal }} of {{ photos.total }} photos (page {{ photos.page }} of {{ photos.pages }})</span>
            {% else %}
              all {{ photos.total }} photos       
            {% endifnotequal %}
          
<!-- 'showing' text: (machine)tag -->
            {% ifequal method 'tag' %}
              with the machine tag 'dopplr:trip={{ trip.id }}'.{% ifnotequal photos.pages photos.page %} <a href="/trip/{{ trip.id }}/by/tag/{{ nextpage }}" id="more">See more?</a>{% endifnotequal %}</p>
              
              <p id="tag">Dopplr will use this tag to show your pubic photos, if you have associated your account. However, there may be more photos from this trip. Would you like to <a href="/trip/{{ trip.id }}/by/date">search by date</a> instead?</p>
<!-- 'showing' text: by date -->
            {% else %}
              taken between {{ trip.startdate|date:"d F Y" }} and {{ trip.finishdate|date:"d F Y" }}.{% ifnotequal photos.pages photos.page %} <a href="/trip/{{ trip.id }}/by/date/{{ nextpage }}" id="more">See more?</a>{% endifnotequal %}</p>
              
           
<!-- tag info -->
            <p id="tag">{% ifequal photos.totag "0" %}All these photos are tagged for Dopplr.{% else %}
              You can <a href="#" onclick="javascript:return tag('dopplr')">add a Dopplr tag</a> to 
              {% ifnotequal photos.totag photos.total %}
                {{ photos.totag }} photo{% ifnotequal photos.totag "1" %}s{% endifnotequal %} at Flickr that {% ifnotequal photos.totag "1" %}aren't{% else %}isn't{% endifnotequal %} currently tagged.</p>
              {% else %}
                all these photos at Flickr.</p>
              {% endifnotequal %}
            {% endifequal %}
            {% endifequal %}
 
<!-- location info -->
            <p id="geotag">{% ifequal photos.geototal 0 %}None{% else %}{% ifequal photos.geototal photos.subtotal %}All{% else %}{{ photos.geototal }}{% endifequal %}{% endifequal %} of these photo{% ifnotequal photos.geototal 1 %}s are{% else %}s is{% endifnotequal %} already tagged with {% ifequal photos.geototal 1 %}its{% else %}their{% endifequal %} location in Flickr.{% ifnotequal photos.subtotal photos.geototal %}
              You can <a href="#" onclick="javascript:return tag('geo')">add a location</a> based on your trip to {% ifequal photos.geototal 0 %}all these photos{% else %}the photos that don't already have one{% endifequal %}.
            {% endifnotequal %}</p>
            
            </div>
          {% else %}
            <h3>No Flickr photos found for this trip.</h3>
            
            {% if photos.error %}<p style="color:red">{{ photos.error }}</p>{% endif %}
          {% endif %}
        {% endif %}
        
        {% if not photos %}{# this shouldn't be able to happen any more #}
            <p>There were no photos for this trip. (If you're viewing someone else's trips, you can't seen any photos.).</p>
        {% endif %}
      {% endifnotequal %}
    {% endifequal %}
    
      <div class="trip_nav">
        <span class="left"><a href="/{% ifnotequal trip.nick session.nick %}where/{{ session.nick }}{% endifnotequal %}">&larr; Back to all trips.</a></span>
        <span class="right"><a href="{{ trip.url }}">View this trip at Dopplr. &rarr;</a></span>
      </div>
      
    </div>

    <div id="side">
      <h3>About photos on Dopplr.</h3>
      
      <p>Dopplr's trip pages can include photos from Flickr that you've taken on a trip. Firstly, you'll need to <a href="http://www.dopplr.com/account/flickr">associate your Flickr and Dopplr accounts</a>. Once this is done, Dopplr will look for your photos in two ways:</p>
      
      <ul class="trip">
        <li>Using a <a href="http://www.flickr.com/groups/api/discuss/72157594497877875/">machine tag</a> for a given trip</li>
        <li>Searching on date taken</li>
      </ul>
      
      <p>snaptrip can help by making sure that your machine tags are correct, and by setting them if you don't have them already.</p>

      <h3>About photos on Flickr.</h3>
    
      <p>snaptrip adds machine tags to photos at Flickr. If you want to see the tag, you'll need to open the disclosure triangle in the right hand side labelled "Show machine tags".</p>
      
      <p>If you're using <a href="https://addons.mozilla.org/en-US/firefox/addon/748" title="Install Greasemonkey">Greasemonkey</a> on Firefox, you can install a <a href="/js/show-dopplr-link.user.js">user script</a> that will use the machine tags to add a graphical link to the trip page at Dopplr.</p>

      <h3>More trips.</h3>
      
      <p>{% if links.prev %}
        {% ifequal trip.nick session.nick %}Your{% else %}Their{% endifequal %} 
        previous trip 
        {% ifequal links.prev.status "Past" %}was{% else %}is{% endifequal %}
        to <a href="/trip/{{ links.prev.id }}">{{ links.prev.city }}</a>{% if not links.next %}.{% else %}
        and {% ifequal trip.nick session.nick %}your{% else %}their{% endifequal %} next trip
        {% ifequal links.next.status "Past" %}was{% else %}is{% endifequal %}
        to <a href="/trip/{{ links.next.id }}">{{ links.next.city }}</a>.
        {% endif %}
      {% else %}
        {% if links.next %}
          {% ifequal trip.nick session.nick %}Your{% else %}Their{% endifequal %}
          next trip {% ifequal links.next.status "Past" %}was{% else %}is{% endifequal %}
          to <a href="/trip/{{ links.next.id }}">{{ links.next.city }}</a>.
        {% else %}
          This is the only trip listed in Dopplr.
        {% endif %}
      {% endif %}</p>

<!-- 
      {% if links.city_prev %}
      <p>Previous trip to <a href="/trip/{{ links.city_prev.id }}">{{ trip.city.name }}</a>.</p>
      {% endif %}

      {% if links.city_next %}
      <p>Next trip to <a href="/trip/{{ links.city_next.id }}">{{ trip.city.name }}</a>.</p>
      {% endif %}
 -->

    </div>
  </div>
  
  {% include "includes/footer.html" %}
</body>
</html>
